<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>店铺管理-日进斗金收银软件</title>
		<link rel="stylesheet" th:href="@{/css/supplier.css}">
		<link rel="stylesheet" th:href="@{/css/recharge_deduction.css}">
		<link rel="stylesheet" th:href="@{/css/base.css}">
    	<link rel="stylesheet" th:href="@{/css/reset.css}">
    	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    	<script th:src="@{/js/jquery-1.12.4.js}"></script>
    	<script th:src="@{/js/bootstrap.js}"></script>
    	<script th:src="@{/js/distpicker.data.js}"></script>
    	<script th:src="@{/js/distpicker.js}"></script>
    	<script th:src="@{/js/vue.js}"></script>
    	<script th:src="@{/js/area.js}" type="text/javascript"></script>
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			/*a标签去线*/
			
			a {
				color: #000000;
				text-decoration: none;
			}
			
			a:hover {
				color: #2F9833;
				text-decoration: none;
			}
			
			hr {
				height: 0.5px;
				background-color: #C7C7C7;
			}
			
			ul {
				list-style: none outside none;
			}
			/*最上方导航栏*/
			
			.navArea ul {
				/* display: block; */
				float: left;
				width: 100%;
				clear: both;
			}
			
			li {
				display: list-item;
				text-align: -webkit-match-parent;
			}
			
			.navArea ul li {
				float: left;
				width: 16.66%;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			
			.navArea ul li a {
				display: block;
				margin-left: 4px;
				margin-right: 4px;
				line-height: 40px;
				border: 1px solid #DDD;
				border-radius: 4px;
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				vertical-align: middle;
				text-decoration: none;
			}
			
			.navArea ul li.current a {
				color: #FFF;
				background: #44b549;
				border: 1px solid #44b549;
				cursor: default;
			}
			
			.navArea ul li a:hover {
				border: 1px solid #44b549;
			}
			/*右侧导航栏*/
			
			.navList {
				width: 100%;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			
			.navList ul li {
				display: block;
				line-height: 50px;
				border-bottom: 1px solid #DDD;
				border-right: 1px solid #DDD;
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				vertical-align: middle;
				text-decoration: none;
			}
			
			.navList li.active a {
				color: #44b549;
				text-decoration: none;
			}
			
			.navList li.active {
				background: #FFF;
				border-right: 1px solid #FFF;
			}
			
			.navList li a {
				display: block;
				line-height: 52px;
				font-size: 16px;
				text-decoration: none;
			}
			/*底部*/
			
			.footer {
				background: #fafafa none repeat scroll 0 0;
				border-top: 1px solid #dfdfdf;
				float: left;
				padding: 20px 0;
				text-align: center;
				width: 100%;
			}
			tr {
			    padding: 0;
			    font-weight: 400;
			    font-style: normal;
			    line-height: 40px;
			    border-bottom: 0px solid #e7e7eb;
			}
			.sele{
			  display:inline-block;
			  width: 180px;
			}
		</style>
	</head>

	<body>
		<!--头部-->
		<div class="row" style="background-color:white">
			<div style="margin: 0 auto; width: 1120px;">
				<!--图片-->
				<div class="col-md-4" style="height: 33px; line-height: 48px;">
					<img th:src="@{/img/logo-7.png}" height="40px" />
				</div>
				<!--账号-->
				<div class="col-md-1" style="height: 33px; line-height: 55px;">
					<a href="accountindex.html">
						账户
					</a>
				</div>
				<!--账号-->
				<div class="col-md-2" style="height: 33px; line-height: 55px;">
					<a href="">
						实体店
					</a>
				</div>
				<div class="col-md-4 text-right" style="height: 33px; line-height: 48px;">
					<img th:src="@{/img/3.png}" height="40px" />
					<span>18873307307</span>
				</div>
				<div class="col-md-1" style="margin-top: 13px;">
					<a href="" style="color: #B3B3B3;">退出</a>
				</div>
			</div>
		</div>
		<hr/>
		<!--身体-->
		<div class="container">
			<div class="" style="height:610px;margin-top: -20px;">
				<!--临时高度-->
				<!--第一排那些个小框框-->
				<div class="navArea clearfix text-center">
					<ul>
						<li>
							<a href="new_file.html">店铺</a>
						</li>
						<li class="current">
							<a href="new_file1.html">商品</a>
						</li>
						<li>
							<a href="#">库存</a>
						</li>
						<li>
							<a href="#">网上订单</a>
						</li>
						<li>
							<a href="#">报表</a>
						</li>
						<li>
							<a href="#">会员</a>
						</li>
					</ul>
				</div>
				<!--下面的排的主要身体-->
				<div class="container">
					<div class="row" style="border: solid 1px #C7C7C7;margin-left: -10px;width: 99.3%;display: flex;justify-content: space-around;">
						<div class="col-md-2">
							<div class="navList clearfix text-center" style="margin:0 -15.5px;width:180px;background-color:#F3F3F3;height: 100%">
								<ul style="margin-top: -10px;" >
									<li data-id="dianpo1">
										<a th:href="@{tiao?htmlt=good_splb}" >商品类别</a>
									</li>
									<li data-id="dianpo2">
										<a th:href="@{tiao?htmlt=good_spgl}" >商品管理</a>
									</li>
									<li data-id="dianpo3">
										<a th:href="@{tiao?htmlt=good_spsc}" >商品上传</a>
									</li>
									<li data-id="goods4" class="active">
										<a th:href="@{tiao?htmlt=good_gys}" >供应商</a>
									</li>
									<li data-id="goods5">
										<a th:href="@{tiao?htmlt=good_cg}" >采购</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-10 sw">
							<div id='wqq' style='margin-left: -17px;width: 103.3%;' data-id='${data-id}'>
								<!--子页面这里-->
								<div class="rightarea clearfix vue_gys">
									<div class="mainarea clearfix">
										<div class="mainhead">
											<span class="title">供应商</span>
											<div class="searchArea">
												<div class="btn-div">
												<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="添加供应商" style="float: right;position: relative;">添加供应商</button>
												</div>
											</div>

											<div class="list search">
												<input class="inputtext" name="xiaqu" type="text" placeholder="查找">
												<a href="javascript:;" class="search-btn" v-on:click="pageha(1)"></a>
											</div>
											<div class="list">
											<!--  三级联动-->
												<form class="form-inline">
											      <div data-toggle="distpicker">
											        <div class="form-group">
											         <label class="sr-only" for="province7">Province</label>
											          <select class="form-control" id="province7">
											          </select>
											        </div>
											        <div class="form-group">
											      <label class="sr-only" for="city7">City</label>
											          <select class="form-control" id="city7"></select>
											        </div>
											      </div>
											    </form>
											    <!--  -->
											</div>
											<!-- <div class="list">
												-
											</div> -->
											<!-- <div class="list">
												<select name="" id="" class="form-control">
													<option value="请选择省份">请选择省份</option>
												</select>
											</div> -->

											<div class="list">
												<span style="position: relative;top: 10px;">地&nbsp;&nbsp;&nbsp;&nbsp;区</span>
											</div>
										</div>
										<div class="mainbody">
											<table class="settable table table-striped">
												<thead>
													<tr>
														<th width="5%">序号</th>
														<th width="12%">简称</th>
														<th width="16%">公司名称</th>
														<th width="8%">联系人</th>
														<th width="11%">手机</th>
														<th width="11%">电话</th>
														<th width="15%">邮箱</th>
														<th width="14%">地区</th>
														<th width="8%">操作</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="item,index in page.list">
														<td>{{index}}</td>
														<td>{{item.supplierna}}</td>
														<td>{{item.suppliername}}</td>
														<td>{{item.supplierpeople}}</td>
														<td>{{item.supplierphone}}</td>
														<td>-</td>
														<td>{{item.suppliermail}}</td>
														<td>{{item.suppliershen}}</td>
														<td>
															<a href="javascript:;" v-on:click="del(index,item)">删除</a>
															<a href="javascript:;" v-on:click="upd(item)">编辑</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
										<!--分页按钮-->
											<div class="pagebar" style="margin-left: 30%">
												<div class="pagetion">
													<div class="page">
														<ul class="pagination">
															<li>
																<a href="javascript:;">
																	首页
																</a>
															</li>
															<li>
																<a href="javascript:;" v-on:click="pageha(page.prePage)">
																	&laquo;
																</a>
															</li>
															<li>
																<span style="font-size: 14px;">{{page.pageNum}}/{{page.pages}}</span>
															</li>
															<li>
																<a href="javascript:;" v-on:click="pageha(page.nextPage)">
																	&raquo;
																</a>
															</li>
															<li>
																<a href="javascript:;">
																	尾页
																</a>
															</li>
															<!-- <li style="margin-left: 20px; float:left;">
																<input type="text" class="form-control" style="width: 100px;">
															</li> -->
															<!-- <li style="margin-left: 15px; float:left;">
																<a href="javascript:;" class="btn btn-default">
																	跳转
																</a>
															</li> -->
														</ul>
													</div>
												</div>
											</div>
											
																
											
											
																				  <!--s-->
									  												<!--添加类别按钮-->
<div class="modal" style="top:150px" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
     <div class="modal-dialog" role="document" style="width: 730px">
    	<div class="modal-content">
     		 <div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       		 <h4 class="modal-title" id="exampleModalLabel">添供应商</h4>
      		</div>	
      <div class="modal-body">
      				<form class="form-inline" style="height: 100%">
          					<div class="form-group" style="margin-top:10px">
						    <label for="inputEmail3" class="col-sm-2 control-label" style="line-height:35px;text-indent:1em;">公司名称</label>
						    <div class="col-sm-4">
						      <input type="text" v-model="uspp.suppliername" class="form-control">
						    </div>
						     <label for="inputEmail3" class="col-sm-2 control-label" style="line-height:35px;text-indent:1em;">公司简称</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" v-model="uspp.supplierna">
						    </div>
						  </div>
						  <div class="form-group" style="margin-top: 10px">
						    <label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;">公司法人</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" v-model="uspp.supplierpeople">
						    </div>
						     <label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;">手　　机</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" v-model="uspp.supplierphone">
						    </div>
						  </div>
						  <div class="form-group" style="margin-top: 10px">
						    <label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;">邮　　箱</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" v-model="uspp.suppliermail">
						    </div>
						     <label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;">电　　话</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						  </div>	
						      <!--  -->
						     
						   <!--    <div style="margin-top: 10px">
 								<label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;margin-left: 8px">地　　址</label>
								<select class="form-control" id="s_province" name="s_province" v-model="uspp.suppliershen"></select>  
							
							    <select class="form-control" id="s_city" name="s_city" v-model="uspp.suppliershi"></select>  
							
							    <select class="form-control" id="s_county" name="s_county" v-model="uspp.supplierqu"></select>
    						</div> -->					  
						     <div id="distpicker3" data-toggle="distpicker" style="margin-top: 10px">
						      <label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;">地　　址</label>
						        <div class="form-group" style="margin-left: 9px">
						          <label class="sr-only" for="province1">Province</label>
						          <select class="form-control"  id="province1" v-model="uspp.suppliershen"></select>
						        </div>
						        <div class="form-group">
						          <label class="sr-only" for="city1">City</label>
						          <select class="form-control" id="city1" v-model="uspp.suppliershi"></select>
						        </div>
						        <div class="form-group">
						          <label class="sr-only" for="district1">District</label>
						          <select class="form-control" id="district1" v-model="uspp.supplierqu"></select>
						        </div>
						      </div>
						    <div class="form-group" style="margin-top: 10px">
						    <label for="inputEmail3" class="col-sm-4 control-label" style="line-height: 35px;text-indent:1em;">街　　道</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" v-model="uspp.supplierjd">
						    </div>
						  </div>
       				</form>
      </div>
		      <div class="modal-footer">
		      	<div class="center-block" style="width: 18%;">
		      		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		       		<button type="button" id="sw" class="btn quding" style="background-color: #44B549;" v-on:click="sub()">确定</button>
		      	</div>
		      </div>
    </div>
  </div>
</div>
<!--上面的是添加类别按钮-->		
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--脚步-->
		<div class="footer" style="margin-top: 15px;">
			<p>Copyright © 2010-2019 POSO2O. All Rights Reserved.</p>
		</div>
		
		
		
		
		
		
		
<!-- 											  												添加类别按钮
<div class="modal" style="top:150px" id="exampleModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
     <div class="modal-dialog" role="document" style="width: 730px">
    	<div class="modal-content">
     		 <div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       		 <h4 class="modal-title" id="exampleModalLabel">添供应商</h4>
      		</div>	
      <div class="modal-body">
      				<form class="form-inline" style="height: 100%">
          					<div class="form-group" style="margin-top:10px">
						    <label for="inputEmail3" class="col-sm-2 control-label" style="line-height:35px;text-indent:1em;">公司名称</label>
						    <div class="col-sm-4">
						      <input type="text" v-model="uspp.suppliername" class="form-control">
						    </div>
						     <label for="inputEmail3" class="col-sm-2 control-label" style="line-height:35px;text-indent:1em;">公司简称</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						  </div>
						  <div class="form-group" style="margin-top: 10px">
						    <label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;">公司法人</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						     <label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;">手　　机</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						  </div>
						  <div class="form-group" style="margin-top: 10px">
						    <label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;">邮　　箱</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						     <label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;">电　　话</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control">
						    </div>
						  </div>	
						      
						     
						      <div style="margin-top: 10px">
 								<label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;margin-left: 8px">地　　址</label>
								<select class="form-control" id="s_province" name="s_province" v-model="uspp.suppliershen"></select>  
							
							    <select class="form-control" id="s_city" name="s_city" v-model="uspp.suppliershi"></select>  
							
							    <select class="form-control" id="s_county" name="s_county" v-model="uspp.supplierqu"></select>
    						</div>					  
						     <div id="distpicker4"  data-toggle="distpicker" style="margin-top: 10px">
						      <label for="inputEmail3" class="col-sm-2 control-label" style="line-height: 35px;text-indent:1em;">地　　址</label>
						        <div class="form-group" style="margin-left: 9px">
						          <select class="form-control" name="province"  id="province2" ></select>
						        </div>
						        <div class="form-group">
						          <select class="form-control" name="city" id="city2" ></select>
						        </div>
						        <div class="form-group">
						          <select class="form-control" name="district" id="district2" ></select>
						        </div>
						      </div>
						    <div class="form-group" style="margin-top: 10px">
						    <label for="inputEmail3" class="col-sm-4 control-label" style="line-height: 35px;text-indent:1em;">街　　道</label>
						    <div class="col-sm-4">
						      <input type="text" class="form-control" >
						    </div>
						  </div>
       				</form>
      </div>
		      <div class="modal-footer">
		      	<div class="center-block" style="width: 18%;">
		      		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		       		<button type="button"  class="btn quding" style="background-color: #44B549;" onclick="subs()">确定</button>
		      	</div>
		      </div>
    </div>
  </div>
</div>
上面的是添加类别按钮	 -->
	</body>
	<script type="text/javascript">
	//我来判断是新增还是修改
	var bool=0;
             var vue=new Vue({
            	 el:".vue_gys",
            	 data(){
            		 return {
            			 page:{},
            			 uspp:{}
            		 }
            	 },
            	 methods:{
            		pageha:function(pageNum){
            			//alert(pageNum)
            			//alert(vue.page.pages)
            		    var shen=$("#province7").val();
            			//alert(shen);
            			var shen1=$("#city7").val();
            			//alert(shen1);
            			var shen2=$("[name=xiaqu]").val();
            			//alert(shen2);
            			if(vue.page.pages==0){
   						 	 vue.page.pages=1;
   					  	}
            		 if(pageNum>0 && pageNum<=vue.page.pages){
            				$.ajax({
            					url:"[[@{/tjygys/sqlidall}]]",
                				data:{pageNum:pageNum,Suppliershen:shen,Suppliershi:shen1,Suppliername:shen2},
                				success:function(result){
                					//alert(result)
                					vue.page=result;
                				}
                			})
            			}
            		},
            		 sub:function(){//添加
            			 alert(bool)
            		  	var upplier=vue.uspp;
            		   console.log(upplier);
            			if(bool==0){
            			     $.ajax({
            				 url:"[[@{/tjygys/ins}]]",
            				 data:upplier,
            				 type:"post",
            				 success:function(reulte){
            					 alert(1)
            					 $('#exampleModal').modal('hide');
            					 $.ajax({
                      				url:"[[@{/tjygys/sqlidall}]]",
                      				data:{pageNum:1,Suppliershen:null,Suppliershi:null,Suppliername:null},
                      				success:function(result){	
                      /* 					alert(JSON.stringify(result)) */
                      					vue.page=result;
                      				}
                      			})
            				 }
            				 })
            			}else{//修改
            			    var name=$("#recipient-name").val();
            			$.ajax({
            				 url:"[[@{/tjygys/upd}]]",
            				 data:vue.uspp,
            				 type:"post",
            				 success:function(reulte){
            					 alert(1)
            					bool=0;
            					$('#exampleModal').modal('hide');
            					$.ajax({
                     				url:"[[@{/tjygys/sqlidall}]]",
                     				data:{pageNum:1,Suppliershen:null,Suppliershi:null,Suppliername:null},
                     				success:function(result){	
                     /* 					alert(JSON.stringify(result)) */
                     					vue.page=result;
                     				}
                     			})
            				 }
            			 })
            			} 
            		 },
            		 del:function(index,item){
            			 alert(item.supplierid)
            			 this.page.list.splice(index,1)
            			 $.ajax({
              				url:"[[@{/tjygys/del?supplierid=}]]"+item.supplierid,
              				success:function(result){	
                          /* alert(JSON.stringify(result)) */
              					vue.page=result;
              				}
              			})
            		 },
            		 upd:function(item){//修改
            			  $('#exampleModal').modal('show');
            			  var button = $(event.relatedTarget) // 触发模式的按钮
            			  var recipient = button.data('whatever') // 从数据中提取信息-*属性
            			  // 如果需要，可以在这里启动AJAX请求（然后在回调中进行更新）。
            			  // 更新模态的内容。我们将在这里使用jQuery，但是您可以使用数据绑定库或其他方法。
            			  $('#exampleModalLabel').html("编辑供应商")
            			 /*  $('#exampleModal').find('.modal-body input').val(ssss.suppliershen) */
            			  bool=item.supplierid;
//             			  alert(ssss.suppliershen)
             		 	 //alert(tiem.suppliershen)
             		 	 vue.uspp=item;
            		 	  $("#province1").val(item.suppliershen);  
            		 	  $("#province1").change();
            		 	  $("#city1").val(item.suppliershi);
            		 	  $("#city1").change();
            		 	  $("#district1").val(item.supplierqu);
            		 }
            	 },
            	 created:function(){
            		/*  alert(1) */
             			$.ajax({
             				url:"[[@{/tjygys/sqlidall}]]",
             				data:{pageNum:1,Suppliershen:null,Suppliershi:null,Suppliername:null},
             				success:function(result){	
                          	alert(JSON.stringify(result))
             					vue.page=result;
             				}
             			})
            	 }
             })


	</script>

</html>