<!doctype html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>店铺管理-日进斗金收银软件</title>
		<link rel="stylesheet" th:href="@{/css/shop_upload.css}">
        <link rel="stylesheet" th:href="@{/css/recharge_deduction.css}">
		<link rel="stylesheet" th:href="@{/css/base.css}">
    	<link rel="stylesheet" th:href="@{/css/reset.css}">
    	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    	<script th:src="@{/js/wangEditor.js}"></script>
    	<script th:src="@{/js/jquery-1.12.4.js}"></script>
    	<script th:src="@{/js/bootstrap.js}"></script>
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			/*a标签去线*/
			
			a {
				color: #000000;
				text-decoration: none;
			}
			
			a:hover {
				color: #2F9833;
				text-decoration: none;
			}
			
			hr {
				height: 0.5px;
				background-color: #C7C7C7;
			}
			
			ul {
				list-style: none outside none;
			}
			/*最上方导航栏*/
			
			.navArea ul {
				/* display: block; */
				float: left;
				width: 100%;
				clear: both;
			}
			
			li {
				display: list-item;
				text-align: -webkit-match-parent;
			}
			
			.navArea ul li {
				float: left;
				width: 16.66%;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			
			.navArea ul li a {
				display: block;
				margin-left: 4px;
				margin-right: 4px;
				line-height: 40px;
				border: 1px solid #DDD;
				border-radius: 4px;
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				vertical-align: middle;
				text-decoration: none;
			}
			
			.navArea ul li.current a {
				color: #FFF;
				background: #44b549;
				border: 1px solid #44b549;
				cursor: default;
			}
			
			.navArea ul li a:hover {
				border: 1px solid #44b549;
			}
			/*右侧导航栏*/
			
			.navList {
				width: 100%;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			
			.navList ul li {
				display: block;
				line-height: 50px;
				border-bottom: 1px solid #DDD;
				border-right: 1px solid #DDD;
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				vertical-align: middle;
				text-decoration: none;
			}
			
			.navList li.active a {
				color: #44b549;
				text-decoration: none;
			}
			
			.navList li.active {
				background: #FFF;
				border-right: 1px solid #FFF;
			}
			
			.navList li a {
				display: block;
				line-height: 52px;
				font-size: 16px;
				text-decoration: none;
			}
			/*底部*/
			
			.footer {
				background: #fafafa none repeat scroll 0 0;
				border-top: 1px solid #dfdfdf;
				float: left;
				padding: 20px 0;
				text-align: center;
				width: 100%;
			}
		</style>
	</head>

	<body>
		<!--头部-->
		<div class="row" style="background-color:white">
			<div style="margin: 0 auto; width: 1120px;">
				<!--图片-->
				<div class="col-md-4" style="height: 33px; line-height: 48px;">
					<img th:src="@{/img/logo-7.png}" height="40px" />
				</div>
				<!--账号-->
				<div class="col-md-1" style="height: 33px; line-height: 55px;">
					<a href="accountindex.html">
						账户
					</a>
				</div>
				<!--账号-->
				<div class="col-md-2" style="height: 33px; line-height: 55px;">
					<a href="">
						实体店
					</a>
				</div>
				<div class="col-md-4 text-right" style="height: 33px; line-height: 48px;">
					<img th:src="@{/img/3.png}" height="40px" />
					<span>18873307307</span>
				</div>
				<div class="col-md-1" style="margin-top: 13px;">
					<a href="" style="color: #B3B3B3;">退出</a>
				</div>
			</div>
		</div>
		<hr/>
		<!--身体-->
		<div class="container">
			<div class="" style="height:1340px;margin-top: -20px;">
				<!--临时高度-->
				<!--第一排那些个小框框-->
				<div class="navArea clearfix text-center">
					<ul>
						<li>
							<a href="new_file.html">店铺</a>
						</li>
						<li class="current">
							<a href="new_file1.html">商品</a>
						</li>
						<li>
							<a href="#">库存</a>
						</li>
						<li>
							<a href="#">网上订单</a>
						</li>
						<li>
							<a href="#">报表</a>
						</li>
						<li>
							<a href="#">会员</a>
						</li>
					</ul>
				</div>
				<!--下面的排的主要身体-->
				<div class="container" style="height: 100%;">
					<div class="row" style="height: 100%;border: solid 1px #C7C7C7;margin-left: -10px;width: 99.3%;">
						<div class="col-md-2" style="height: 100%">
							<div class="navList clearfix text-center" style="height: 100%;margin:0 -15.5px;width:180px;background-color:#F3F3F3;">
								<ul style="margin-top: -10px;" >
									<li data-id="dianpo1">
										<a th:href="@{tiao?htmlt=good_splb}" >商品类别</a>
									</li>
									<li data-id="dianpo2">
										<a th:href="@{tiao?htmlt=good_spgl}" >商品管理</a>
									</li>
									<li data-id="dianpo3" class="active">
										<a th:href="@{tiao?htmlt=good_spsc}">商品上传</a>
									</li>
									<li data-id="goods4">
										<a th:href="@{tiao?htmlt=good_gys}" >供应商</a>
									</li>
									<li data-id="goods5">
										<a th:href="@{tiao?htmlt=good_cg}" >采购</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-md-10 sw">
							<div id='wqq' style='margin-left: -17px;width: 103.3%;' data-id='${data-id}'>
								<!--子页面这里-->
								<div class="rightarea clearfix">
									<div class="mainarea clearfix">
										<div class="mainhead">
											<span class="title">商品上传</span>
										</div>
										<div class="mainbody">
											<!--上传开始-->
											<div class="uploadproduct clearfix">
												<div class="rightdiv">
													<div class="ptype">
														<div class="listdiv">
															<span>
                                    <i>*</i>
                                    商品货号
                                </span>
															<input type="text" class="inputtext">
															<span>
                                    商品品牌
                                </span>
															<input type="text" class="inputtext">
														</div>
														<!---->
														<div class="listdiv">
															<span>
                                    <i>*</i>
                                    商品名称
                                </span>
															<input type="text" class="inputtext" style="width: 398px;">
														</div>
														<!---->
														<div class="listdiv">
															<span>
                                    <i>*</i>
                                    吊牌价格
                                </span>
															<input type="text" class="inputtext">
															<span>
                                    <i>*</i>
                                    成本价格
                                </span>
															<input type="text" class="inputtext">
														</div>
														<!---->
														<div class="listdiv">
															<span>
                                    <i>*</i>
                                    吊牌类别
                                </span>
															<select name="" id="" class="form-control" style="float:left;width: 168px;">
																<option value="请选择类别">请选择类别</option>
															</select>
														</div>
														<!---->
														<div class="listdiv">
															<span>
                                    <i>*</i>
                                    商品颜色
                                </span>
															<!--固定颜色需选择-->
															<div class="colorchoice">
																<table class="colorstable">
																	<colgroup>
																		<col width="25%">
																		<col width="25%">
																		<col width="25%">
																		<col width="25%">
																	</colgroup>
																	<tbody>
																		<tr>
																			<th>黑色系</th>
																			<th>白色系</th>
																			<th>红色系</th>
																			<th>蓝色系</th>
																		</tr>
																		<tr>
																			<td>
																				<ul class="listcolor">
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																				</ul>
																			</td>
																			<td>
																				<ul class="listcolor">
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																				</ul>
																			</td>
																			<td>
																				<ul class="listcolor">
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																				</ul>
																			</td>
																			<td>
																				<ul class="listcolor">
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																				</ul>
																			</td>
																		</tr>
																	</tbody>
																</table>
																<table class="colorstable">
																	<colgroup>
																		<col width="25%">
																		<col width="25%">
																		<col width="25%">
																		<col width="25%">
																	</colgroup>
																	<tbody>
																		<tr>
																			<th>黑色系</th>
																			<th>白色系</th>
																			<th>红色系</th>
																			<th>蓝色系</th>
																		</tr>
																		<tr>
																			<td>
																				<ul class="listcolor">
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																				</ul>
																			</td>
																			<td>
																				<ul class="listcolor">
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																				</ul>
																			</td>
																			<td>
																				<ul class="listcolor">
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																				</ul>
																			</td>
																			<td>
																				<ul class="listcolor">
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																					<li>
																						<input type="checkbox" class="checkbox" value="黑色">
																						<a href="javascript:;">
																							<label for="" class="color">
                                                                <span class="colorImg"></span>
                                                                黑色
                                                            </label>
																						</a>
																					</li>
																				</ul>
																			</td>
																		</tr>
																	</tbody>
																</table>
																<!--添加颜色的按钮-->
																<a href="javascript:;" class="addColorBtn">+添加颜色</a>
															</div>
														</div>
														<!---->
														<div class="listdiv">
															<span>
                                    <i>*</i>
                                   商品尺码
                                </span>
															<div class="fdcolor clearfix">
																<ul>
																	<li>
																		<a href="javascript:;">均码</a>
																	</li>
																	<li>
																		<a href="javascript:;">26</a>
																	</li>
																	<li>
																		<a href="javascript:;">xxl</a>
																	</li>
																	<li>
																		<a href="javascript:;">s</a>
																	</li>
																	<li>
																		<a href="javascript:;">30</a>
																	</li>
																	<li>
																		<a href="javascript:;">sm</a>
																	</li>
																</ul>
															</div>
															<!--添加尺寸的按钮-->
															<a href="javascript:;" class="editSizeBtn">编辑尺寸</a>
														</div>
														<!---->
														<div class="listdiv">
															<span>
                                    <i>*</i>
                                    库存总数
                                </span>
															<input type="text" class="inputtext" style="width: 124px;">
															<label style="color: rgb(240, 91, 35); float: left; padding-left: 8px; line-height: 36px;">请勿随意修改库存，以免影响库存准确性</label>
															<table class="colorstable">
																<colgroup>
																	<col width="40%">
																	<col width="20%">
																	<col width="40%">
																</colgroup>
																<thead>
																	<tr>
																		<th>规格</th>
																		<th>数量</th>
																		<th>条形码</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td></td>
																		<td></td>
																		<td></td>
																	</tr>
																</tbody>
															</table>
														</div>
														<!---->
													</div>
												</div>
												<!--infoend-->
												<!--上传图片  放大-->
												<div class="productshow clearfix">
													<div class="magni">
														<div class="tb-booth s310">
															<a href="javascript:;">
																<img src="images/storeindex/uploadImg150_150.jpg" lt="">
															</a>
														</div>
													</div>
													<!--下一张下一张-->
													<div class="staticPic clearfix">
														<span class="prev"></span>
														<span class="next"></span>
														<!--小图滚动区域-->
														<div class="smallPic">
															<div class="pic-list">
																<ul class="thumb">
																	<li>
																		<input type="file" class="uploadimg">
																		<a class="imgd" href="javascript:;">
																			<img src="images/storeindex/add_ico.png" alt="">
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
												<!--富文本编辑器 保存商品信息-->
												<div class="editPanel">
													<p class="title">商品信息</p>

													<div id="editwang"></div>
													<!--按钮-->
													<div class="btn-close-insert">
														<a href="javascript:;" class="btn btn-default">取消发布</a>
														<a href="javascript:;" class="btn btn-success" style="color: #ffffff !important;">发布商品</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--脚步-->
		<div class="footer" style="margin-top: 15px;">
			<p>Copyright © 2010-2019 POSO2O. All Rights Reserved.</p>
		</div>
	</body>

	<script type="text/javascript">
		/*创建富文本编辑器*/
		var E = window.wangEditor;
		var editor = new E('#editwang');
		editor.create();
		
	</script>

</html>