<!doctype html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>店铺管理-日进斗金收银软件</title>
		<link rel="stylesheet" th:href="@{/css/store_management.css}">
		<link rel="stylesheet" th:href="@{/css/base.css}">
    	<link rel="stylesheet" th:href="@{/css/reset.css}">
    	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    	<script th:src="@{/js/jquery-1.12.4.js}"></script>
    	<script th:src="@{/js/bootstrap.js}"></script>
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			/*a标签去线*/
			
			a {
				color: #000000;
				text-decoration: none;
			}
			
			a:hover {
				color: #2F9833;
				text-decoration: none;
			}
			
			hr {
				height: 0.5px;
				background-color: #C7C7C7;
			}
			
			ul {
				list-style: none outside none;
			}
			/*最上方导航栏*/
			
			.navArea ul {
				/* display: block; */
				float: left;
				width: 100%;
				clear: both;
			}
			
			li {
				display: list-item;
				text-align: -webkit-match-parent;
			}
			
			.navArea ul li {
				float: left;
				width: 16.66%;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			
			.navArea ul li a {
				display: block;
				margin-left: 4px;
				margin-right: 4px;
				line-height: 40px;
				border: 1px solid #DDD;
				border-radius: 4px;
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				vertical-align: middle;
				text-decoration: none;
			}
			
			.navArea ul li.current a {
				color: #FFF;
				background: #44b549;
				border: 1px solid #44b549;
				cursor: default;
			}
			
			.navArea ul li a:hover {
				border: 1px solid #44b549;
			}
			/*右侧导航栏*/
			
			.navList {
				width: 100%;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			
			.navList ul li {
				display: block;
				line-height: 50px;
				border-bottom: 1px solid #DDD;
				border-right: 1px solid #DDD;
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				vertical-align: middle;
				text-decoration: none;
			}
			
			.navList li.active a {
				color: #44b549;
				text-decoration: none;
			}
			
			.navList li.active {
				background: #FFF;
				border-right: 1px solid #FFF;
			}
			
			.navList li a {
				display: block;
				line-height: 52px;
				font-size: 16px;
				text-decoration: none;
			}
			/*底部*/
			
			.footer {
				background: #fafafa none repeat scroll 0 0;
				border-top: 1px solid #dfdfdf;
				float: left;
				padding: 20px 0;
				text-align: center;
				width: 100%;
			}
			
			.editspan{
					color: gray;font-size: small;margin: 10px;
			}
			
			
			
		</style>
	</head>

	<body>
		<!--头部-->
		<div class="row" style="background-color:white">
			<div style="margin: 0 auto; width: 1120px;">
				<!--图片-->
				<div class="col-md-4" style="height: 33px; line-height: 48px;">
					<img th:src="@{/img/logo-7.png}" height="40px" />
				</div>
				<!--账号-->
				<div class="col-md-1" style="height: 33px; line-height: 55px;">
					<a href="accountindex.html">
						账户
					</a>
				</div>
				<!--账号-->
				<div class="col-md-2" style="height: 33px; line-height: 55px;">
					<a th:href="@{tiao?htmlt=store_management}">
						实体店
					</a>
				</div>
				<div class="col-md-4 text-right" style="height: 33px; line-height: 48px;">
					<img src="../img/3.png" height="40px" />
					<span><input type="text" th:value="${session.user.uname}" style="border:0px;padding-left:15px; width:100px"></span>
				</div>
				<div class="col-md-1" style="margin-top: 13px;">
					<a href="" style="color: #B3B3B3;">退出</a>
				</div>
			</div>
		</div>
		<hr/>
		<!--身体-->
		<div class="container">
			<div class="" style="height:610px;margin-top: -20px;">
				<!--临时高度-->
				<!--第一排那些个小框框-->
				<div class="navArea clearfix text-center">
					<ul>
						<li class="current">
							<a th:href="@{tiao?htmlt=store_management}" >店铺</a>
						</li>
						<li>
							<a th:href="@{tiao?htmlt=good_splb}" >商品</a>
						</li>
						<li>
							<a href="#">库存</a>
						</li>
						<li>
							<a href="#">网上订单</a>
						</li>
						<li>
							<a href="#">报表</a>
						</li>
						<li>
							<a th:href="@{tiao?htmlt=member_xinxi}">会员</a>
						</li>
					</ul>
				</div>
				<!--下面的排的主要身体-->
				<div class="shopcontainer">
					<div class="row" style="border: solid 1px #C7C7C7;margin-left: -10px;width: 99.3%;">
						<div class="col-md-2">
							<div class="navList clearfix text-center" style="height: 600px;margin:0 -15.5px;width:180px;background-color:#F3F3F3;">
								<ul style="margin-top: -10px;">
									<li data-id="dianpo1"  class="active">	
										<a th:href="@{tiao?htmlt=store_management}" >店铺管理</a>
									</li>
									<li data-id="dianpo2">
										<a th:href="@{tiao?htmlt=store_position}" >职位权限</a>
									</li>
									<li data-id="dianpo3">
										<a th:href="@{tiao?htmlt=store_yuangong}" >员工管理</a>
									</li>
									<!-- <li data-id="goods4">
										<a href="#">收银机支付宝收款</a>
									</li>
									<li data-id="goods5">
										<a href="#">收银机微信收款</a>
									</li> -->
								</ul>
							</div>
						</div>
						<div class="col-md-10 sw">
							<div id='wqq' style='margin-left: -17px;width: 103.3%;' data-id='${data-id}'>
								<!--子页面这里-->
								<div class="rightarea clearfix" style="margin-top: 1.8%;" id="shopright">
									<div class="mainarea clearfix">
										<div class="user_list_main clearfix">
											<div class="user_list_body clearfix">
												<div class="sub_title">门店列表</div>
												<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#shopAddModal" style="float: right;position: relative;top: -23px;">
												添加门店
												</button>
							
										<!-- Modal -->
										<form class="Add" action="shopadd" method="post">
											<div id="shopAddModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  										 <div class="modal-dialog modal-lg" role="document">
		    										<div class="modal-content">
		    									
			      										<div class="modal-header">
			        										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        										<h4 class="modal-title" id="myModalLabel">门店编辑</h4>
			      										</div>
			      										<div class="modal-body">
			      										  <table style="text-align: center;" id="addshoptb" >
			        										<tr>
			        											<td><span class="editspan">店名</span></td>
			        											<td><input type="text" class="form-control" style="margin: 5px;" name="shopname"></td>
			        											
			        											<td><span class="editspan">手机</span></td>
			        											<td><input type="text" class="form-control" style="margin: 5px;width: 320px" name="shoptelephone"></td>
			        											
			        										</tr>
			        										<tr>
			        											<td><span class="editspan">联系人</span></td>
			        											<td><input type="text" class="form-control"  style="margin: 5px;" name="shopcontacts"></td>
			        											<td><span class="editspan">电话</span></td>
			        											<td><input type="text" class="form-control" style="margin: 5px;width: 320px" name="remark"></td>
			        										</tr>
			        										<tr>
			        											<td><span class="editspan">地址</span></td>
			        											<td>
																 <!-- 省份选择 -->
			  														<input type="text" name="shopsheng" style="resize: none;margin: 5px; border:1px solid #C0C0C0;border-radius: 3px;height:30px;width:80px">
			  														<span class="editspan">省</span>
			  													<!-- 城市选择 -->
			  														<input type="text" name="shopshi" style="resize: none;margin: 5px; border:1px solid #C0C0C0;border-radius: 3px;height:30px;width:80px">
			  														<span class="editspan">市</span>
			  													<!-- 区县选择 -->
			  														<input type="text" name="shopqu" style="resize: none;margin: 5px; border:1px solid #C0C0C0;border-radius: 3px;height:30px;width:80px">
			  														<span class="editspan">区</span>
																</td>
																<td><span class="editspan">街道</span></td>
			        											<td><input type="text" class="form-control" style="margin: 5px;width: 320px" name="shopadd"></td>
			        										</tr>
			        										<tr>
			        											<td><span class="editspan">介绍</span>
			        											<td><textarea rows="5" cols="50"style="resize: none;margin: 5px; border:1px solid #C0C0C0;border-radius: 3px" name="shopsynopsis"></textarea></td>
			        											</td>
			        										</tr>
			        									 </table>
			     										</div>
			      										<div class="modal-footer">
			        										<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			        										<button type="submit" class="btn btn-primary">确认</button>
			      										</div>      									
			    									</div>
		  										</div>
											</div>
										</form>	
										<div id="tbShop">
											<table class="clearfix settable">
												<thead>
													<tr>
														<th width="9%">序号</th>
														<th width="13%">店名</th>
														<th width="12%">账号</th>
														<th width="5%">员工</th>
														<th width="8%">联系人</th>
														<th width="10%">手机</th>
														<th width="10%">电话</th>
														<th width="*">地址</th>
														<th width="8%">操作</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="k,index in list">
														<td>{{k.shopid}}</td>
			   											<td>{{k.shopname}}</td>
			   											<td>{{k.shoptelephone}}</td>
														<td>{{k.ucount}}</td>
														<td>{{k.shopcontacts}}</td>
														<td>{{k.shoptelephone}}</td>
														<td>{{k.remark}}</td>
														<td>{{k.shopadd}}</td>
														<td>
															<a data-toggle="modal" data-target="#editShop"  @click="editshop(k.shopid)">编辑</a>
														</td>
													</tr>
												</tbody>
											</table>
											<!-- 编辑的模态框 -->
											<form class="edit">
												<div id="editShop" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
			  										 <div class="modal-dialog modal-lg" role="document">
			    									<div class="modal-content">
			      										<div class="modal-header">
			        										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        										<h4 class="modal-title" id="myModalLabel">门店编辑</h4>
			      										</div>
			      										<div class="modal-body">
			      										  <table style="text-align: center;" id="addshoptb" >
			        										<tr>
			        										
			        										<!-- 隐藏id -->
			        										<input type="hidden" v-model="shop.shopid">
			        											<td><span class="editspan">店名</span></td>
			        											<td><input type="text" class="form-control" style="margin: 5px;" v-model="shop.shopname"></td>
			        											<td><span class="editspan">手机</span></td>
			        											<td><input type="text" class="form-control" style="margin: 5px;width: 320px" v-model="shop.shoptelephone"></td>
			        										</tr>
			        										<tr>
			        											<td><span class="editspan">联系人</span></td>
			        											<td><input type="text" class="form-control"  style="margin: 5px;" v-model="shop.shopcontacts"></td>
			        											<td><span class="editspan">电话</span></td>
			        											<td><input type="text" class="form-control" style="margin: 5px;width: 320px" v-model="shop.remark"></td>
			        										</tr>
			        										<tr>
			        											<td><span class="editspan">地址</span></td>
			        											<td>
																 <!-- 省份选择 -->
			  														<input type="text" v-model="shop.shopsheng" style="resize: none;margin: 5px; border:1px solid #C0C0C0;border-radius: 3px;height:30px;width:80px">
			  														<span class="editspan">省</span>
			  													<!-- 城市选择 -->
			  														<input type="text" v-model="shop.shopshi" style="resize: none;margin: 5px; border:1px solid #C0C0C0;border-radius: 3px;height:30px;width:80px">
			  														<span class="editspan">市</span>
			  													<!-- 区县选择 -->
			  														<input type="text" v-model="shop.shopqu" style="resize: none;margin: 5px; border:1px solid #C0C0C0;border-radius: 3px;height:30px;width:80px">
			  														<span class="editspan">区</span>
																</td>
																<td><span class="editspan">街道</span></td>
			        											<td><input type="text" class="form-control" style="margin: 5px;width: 320px" v-model="shop.shopadd"></td>
			        										</tr>
			        										<tr>
			        											<td><span class="editspan">介绍</span>
			        											<td><textarea rows="5" cols="50"style="resize: none;margin: 5px; border:1px solid #C0C0C0;border-radius: 3px" v-model="shop.shopsynopsis"></textarea></td>
			        										</tr>		
			        									 </table>
			     										</div>
			      										<div class="modal-footer">
			        										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			        										<button type="button" class="btn btn-danger" @click="shopdel(shop.shopid)">刪除</button>
			        										<button type="button" class="btn btn-primary">修改</button>
			      										</div>      									
			    									</div>
			  										</div>
			  									</form>
											</div>
										</div>
										<p class="prompt">注：可添加多家门店，系统自动分配订单到附近门店。</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--脚步-->
		<div class="footer" style="margin-top: 15px;">
			<p>Copyright © 2010-2019 POSO2O. All Rights Reserved.</p>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script src="../js/province.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	
	<script type="text/javascript">
		
	
		var vvue=new Vue({
			el:"#tbShop",
			data(){
				return{
					list:[],
					shop:{
						shopname:"1",
						shoptelephone:"1",
						shopcontacts:"1",
						remark:" ",
						shopsheng:" ",
						shopshi:" ",
						shopqu:" ",
						shopadd:" ",
						shopsynopsis:" "
					}
				}
			},		
			methods:{
				//查询
				show:function(){
					var that=this;
					$.ajax({
						url:"[[@{/ha/queryShop}]]",
						type:"post",
						success:function(result){
							that.list=result;
						}
					});
				},								
				//根据id查询
				editshop:function(shopid){
					let that = this;
						$.ajax({
							url:"[[@{/ha/queryedit}]]",
							type:"post",
							data:{shopid:shopid},
							dataType:"json",
							success:function(result){
								//深拷貝
								that.shop = JSON.parse(JSON.stringify(result));
								
							}
						});
					
				},
				shopdel:function(shopid_){
					let that=this;
				$.ajax({
						url:"[[@{/ha/shopdel}]]",
						type:"post",
						data:{shopid:shopid_},
						dataType:"json",
						success:function(result){
							location.href="ha/store_management";
							alert("删除成功！")
						}
					});
				}
			},
			created:function(){
				this.show();
			}
		})
		
		//最上头导航栏
		$(".navArea ul li").click(function() {
			var lis = $(".navArea ul li").index(this);
			$(".navArea ul li").removeClass("current");
			$(".navArea ul li:eq(" + lis + ")").addClass("current");
		})
		//右侧导航栏
		$(".navList ul li").click(function() {
			//tabdiv.remove();
			var lis = $(".navList ul li").index(this);
			$(".navList ul li").removeClass("active");
			var s = $(".navList ul li:eq(" + lis + ")").addClass("active");
			//点击跳转只页面
			var dataid = s.attr("data-id")
			alert(dataid)
			$("#wqq").remove();
			var tabdiv = $("");
			// tabdiv.text(dataid)
			tabdiv.append("<p style='height: 50px;line-height: 50px;font-size: 16px;font-weight: 400;'>商品类别</p>")
			var jiw = $("<div id='hh'>1111</div>")
			//$("#hh").load("html/"+dataid+".html");
			$(".sw").append(tabdiv);
		})
		
		
		//默认选中
		$(function() {
			var s = $("li.active").attr("data-id");
			var tabdiv = $("<div id='wqq' data-id='${data-id}'></div>");
			// tabdiv.text(dataid)
			tabdiv.load("html/" + s + ".html");
			$(".sw").append(tabdiv);	
		})
		
	</script>

</html>