<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.PurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Purchase" >
    <id column="Purchaseid" property="purchaseid" jdbcType="INTEGER" />
    <result column="Purchasedanhao" property="purchasedanhao" jdbcType="VARCHAR" />
    <result column="Purchasedate" property="purchasedate" jdbcType="DATE" />
    <result column="Supplierid" property="supplierid" jdbcType="INTEGER" />
    <result column="Suppliername" property="suppliername" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="Purchasebz" property="purchasebz" jdbcType="VARCHAR" />
    <result column="uname" property="uname" jdbcType="VARCHAR" />
    <result column="examine" property="examine" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Purchaseid, Purchasedanhao, Purchasedate, Supplierid, Suppliername, uid, Purchasebz, 
    uname, examine, remark, remark1
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchase
    where Purchaseid = #{purchaseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchase
    where Purchaseid = #{purchaseid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Purchase" >
    insert into purchase (Purchaseid, Purchasedanhao, Purchasedate, 
      Supplierid, Suppliername, uid, 
      Purchasebz, uname, examine, 
      remark, remark1)
    values (#{purchaseid,jdbcType=INTEGER}, #{purchasedanhao,jdbcType=VARCHAR}, #{purchasedate,jdbcType=DATE}, 
      #{supplierid,jdbcType=INTEGER}, #{suppliername,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{purchasebz,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, #{examine,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Purchase" >
    insert into purchase
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="purchaseid != null" >
        Purchaseid,
      </if>
      <if test="purchasedanhao != null" >
        Purchasedanhao,
      </if>
      <if test="purchasedate != null" >
        Purchasedate,
      </if>
      <if test="supplierid != null" >
        Supplierid,
      </if>
      <if test="suppliername != null" >
        Suppliername,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="purchasebz != null" >
        Purchasebz,
      </if>
      <if test="uname != null" >
        uname,
      </if>
      <if test="examine != null" >
        examine,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="purchaseid != null" >
        #{purchaseid,jdbcType=INTEGER},
      </if>
      <if test="purchasedanhao != null" >
        #{purchasedanhao,jdbcType=VARCHAR},
      </if>
      <if test="purchasedate != null" >
        #{purchasedate,jdbcType=DATE},
      </if>
      <if test="supplierid != null" >
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="suppliername != null" >
        #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="purchasebz != null" >
        #{purchasebz,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="examine != null" >
        #{examine,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Purchase" >
    update purchase
    <set >
      <if test="purchasedanhao != null" >
        Purchasedanhao = #{purchasedanhao,jdbcType=VARCHAR},
      </if>
      <if test="purchasedate != null" >
        Purchasedate = #{purchasedate,jdbcType=DATE},
      </if>
      <if test="supplierid != null" >
        Supplierid = #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="suppliername != null" >
        Suppliername = #{suppliername,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="purchasebz != null" >
        Purchasebz = #{purchasebz,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="examine != null" >
        examine = #{examine,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
    </set>
    where Purchaseid = #{purchaseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Purchase" >
    update purchase
    set Purchasedanhao = #{purchasedanhao,jdbcType=VARCHAR},
      Purchasedate = #{purchasedate,jdbcType=DATE},
      Supplierid = #{supplierid,jdbcType=INTEGER},
      Suppliername = #{suppliername,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      Purchasebz = #{purchasebz,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      examine = #{examine,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR}
    where Purchaseid = #{purchaseid,jdbcType=INTEGER}
  </update>
</mapper>