<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.CarsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Cars" >
    <id column="carsid" property="carsid" jdbcType="INTEGER" />
    <result column="carid" property="carid" jdbcType="INTEGER" />
    <result column="goodnum" property="goodnum" jdbcType="INTEGER" />
    <result column="goodname" property="goodname" jdbcType="VARCHAR" />
    <result column="goodprice" property="goodprice" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    carsid, carid, goodnum, goodname, goodprice, remark, remark1
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cars
    where carsid = #{carsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cars
    where carsid = #{carsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Cars" >
    insert into cars (carsid, carid, goodnum, 
      goodname, goodprice, remark, 
      remark1)
    values (#{carsid,jdbcType=INTEGER}, #{carid,jdbcType=INTEGER}, #{goodnum,jdbcType=INTEGER}, 
      #{goodname,jdbcType=VARCHAR}, #{goodprice,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, 
      #{remark1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Cars" >
    insert into cars
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carsid != null" >
        carsid,
      </if>
      <if test="carid != null" >
        carid,
      </if>
      <if test="goodnum != null" >
        goodnum,
      </if>
      <if test="goodname != null" >
        goodname,
      </if>
      <if test="goodprice != null" >
        goodprice,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carsid != null" >
        #{carsid,jdbcType=INTEGER},
      </if>
      <if test="carid != null" >
        #{carid,jdbcType=INTEGER},
      </if>
      <if test="goodnum != null" >
        #{goodnum,jdbcType=INTEGER},
      </if>
      <if test="goodname != null" >
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="goodprice != null" >
        #{goodprice,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Cars" >
    update cars
    <set >
      <if test="carid != null" >
        carid = #{carid,jdbcType=INTEGER},
      </if>
      <if test="goodnum != null" >
        goodnum = #{goodnum,jdbcType=INTEGER},
      </if>
      <if test="goodname != null" >
        goodname = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="goodprice != null" >
        goodprice = #{goodprice,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
    </set>
    where carsid = #{carsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Cars" >
    update cars
    set carid = #{carid,jdbcType=INTEGER},
      goodnum = #{goodnum,jdbcType=INTEGER},
      goodname = #{goodname,jdbcType=VARCHAR},
      goodprice = #{goodprice,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR}
    where carsid = #{carsid,jdbcType=INTEGER}
  </update>
</mapper>